@mixin reset() {
  all: unset;
}

@mixin container($contWidth: $width) {
  width: $contWidth;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  box-sizing: border-box;
}

@mixin for-phone-only {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin for-tablet-down {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin for-small-screen-down {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-down {
  @media only screen and (max-width: 1512px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-large-screen-only {
  @media (min-width: 1512px) {
    @content;
  }
}