.btn {
    margin: 10px auto;
    background: $beige;
    color: $white;
    border: none;
    padding: 10px 100px;
    cursor: pointer;
    transition: .5s all;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    &:hover {
        background: black;
    }
}

.btn__loader {
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid $mainColor;
    /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}