.mainArticle {
    background: url('@/assets/images/heroImage.jpg') center no-repeat;
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-phone-only {
        min-height: auto;
        padding-top: 150px;
        padding-bottom: 30px;
    }


}

.mainArticle__inner {
    @include container();
}

.mainArticle__heading {
    font-family: $lora;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: $white;
    max-width: 530px;
}

.mainArticle__heading-link {
    color: $white;
    text-decoration: none;
    transition: color 150ms;

    &:hover {
        color: $beige;
    }
}


.mainArticle__content {
    font-family: $lora;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $snow;
    max-width: 530px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mainArticle__sub-text {
    color: $white;
}


.mainArticle__content-time {
    display: flex;
    align-items: center;
    width: 40%;

    &:after {
        content: '';
        width: 30px;
        height: 1px;
        display: inline-block;
        background: $white;
        margin: 0 10px;
    }
}


.mainArticle__content-divider {
    width: 40px;
    height: 2px;
    display: inline-block;
    background: #C4C4C4;
    margin: 0 10px;
}

.mainArticle__categories {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainArticle__category-link {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: $white;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase
}